{% extends "main.html" %}
{% block body %}
<h1 class="text-center mt-5 text-dark">Celebrity Face ID</h1>

<div class="container pt-5" >
  <div class="row">
  <!-- End -->
    <form method=post enctype=multipart/form-data>
    <div class="form-group">
      <label>Select image</label>
      <input type=file name=file>
      <input type=submit value=Upload>
      </div>
    </div>
  </form>
  {%for msg in get_flashed_messages() %}
    <p>{{msg}} </p>
  {% endfor %}
</div>
</div>

<div class="container">
  <h2>
    {{content}}
  </h2>
</div>

<style>
  .form-control:focus {
    box-shadow: none;
  }
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
</style>
{% endblock %}
